
 <div>
  <span>
   <i class="fas fa-address-card fa-3x"></i>
   <h2>マイページ</h2>
  </span>
   <fieldset class="form-group">
    <div class="form-group">
     <label>名前</label>
     <%= @customer.last_name %>
     <%= @customer.first_name %>
    </div>
　　<div class="form-group">
　　 <label>カナ</label>
　　 <%= @customer.last_name_kana %>
     <%= @customer.first_name_kana %>
    </div>
    <div class="form-group">
　　 <label>郵便番号</label>
     <%= @customer.postal_code %>
    </div>
    <div class="form-group">
　　 <label>住所</label>
     <%= @customer.address %>
    </div>
    <div class="form-group">
　　 <label>電話番号</label>
　　 <%= @customer.telephone_number %>
　　</div>
    <div class="form-group">
　　 <label>メールアドレス</label>
　　 <%= @customer.email %>
　　</div>
　 </div>
</div>
<% if @customer.id == current_customer.id %>
    <p><%= link_to "編集する", customers_my_page_edit_path, class: "btn btn-outline-warning"%></p>
   <% end %>

<h3>配送先</h3>

<h3>注文履歴</h3>