<!--URL:/admin/items-->

<h3>商品一覧</h3>
<!--↓丸いボタン↓-->
<%= link_to new_admin_item_path do %>
  <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
<% end %>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜き価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <!--↓三項演算子という、単純なif文を一行で表す書き方、view上でtrue = 有効を意味している記述↓-->
        <td><%= (item.is_active) ? '販売中' : '販売停止中' %></td>
      </tr>
    <% end %>
  </tbody>
</table>