<div class="container">
  <div class="row">
    <div class="col-lg-8">

        <h2>配送先編集</h2>

        　<%= form_with model:@address, local:true do |f| %>

          <%= f.label :郵便番号 %>
          <%= f.text_field :postal_code, class: 'form-control' %>

          <%= f.label :住所%>
          <%= f.text_field :address, class: 'form-control' %>

          <%= f.label :宛名%>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.submit class: 'btn btn-success' %>

      <% end %>


    </div>
  </div>
</div>