<!--URL:/orders/new-->

<h3>注文情報入力</h3>

<%= form_with model: @order, url:orders_confirm_path, method: :get, local: true do |f| %>

  <h5><strong>支払方法</strong></h5>
    <div>
      <%= f.radio_button :payment_method, :bank, :checked => true %>
      <%= f.label :payment_method, "銀行振込", :value => "bank"  %>
      <br>
      <%= f.radio_button :payment_method, :card %>
      <%= f.label :payment_method, "クレジットカード", :value => "card" %>
    </div>


  <h5><strong>お届け先</strong></h5>
    <div>
      <%= f.radio_button :address_choice, "my_address", :checked => true %>
      <%= f.label :address_choice, "ご自身の住所", :value => "my_address"  %>
      <br>
      　<%= @customer.postal_code %>
      <%= @customer.address %>
      <br>
      　<%= @customer.last_name %><%= @customer.first_name %>
      <!--↑タグ寄せではなく、全角のスペースを挿入してます-->
      <br>
      <%= f.radio_button :address_choice, "addresses" %>
      <%= f.label :address_choice, "登録済み住所から選択", :value => "addresses" %>
      <br>
      　<%= f.collection_select :address_id , @addresses, :id, :address %>
      <br>
      <%= f.radio_button :address_choice, "new_address" %>
      <%= f.label :address_choice, "新しいお届け先", :value => "new_address" %>
      <br>
      <table>
        <tr><td>　<%= f.label :postal_code, "郵便番号(ハイフン無し)" %></td><td><%= f.text_field :postal_code %></td></tr>
        <tr><td>　<%= f.label :address, "住所" %></td><td><%= f.text_field :address, size: 50 %></td></tr>
        <tr><td>　<%= f.label :name, "宛名" %></td><td><%= f.text_field :name %></td></tr>
      </table>
    </div>

  <%= f.submit '確認画面へ進む', class: 'btn btn-primary' %>
<% end %>

