<!--URL:/orders/new-->

<h3>注文情報入力</h3>
<%= form_with model: @order, url:orders_confirm_path, method: :get, local: true do |f| %>
  <div>
    <%= f.radio_button :payment_method, :bank, :checked => true %>
    <%= f.label :payment_method, "銀行振込", :value => "bank"  %>
    <%= f.radio_button :payment_method, :card %>
    <%= f.label :payment_method, "クレジットカード", :value => "card" %>
  </div>

  <div>
    <%= f.radio_button :address_choice, "my_address", :checked => true %>
    <%= f.label :address_choice, "ご自身の住所", :value => "my_address"  %>
    <%= @customer.postal_code %>
    <%= @customer.address %>
    <br>
    <%= f.radio_button :address_choice, "addresses" %>
    <%= f.label :address_choice, "登録済み住所から選択", :value => "addresses" %>
    <%= f.collection_select :id , @addresses, :id, :address , :include_blank => "選択してください" %>
    <br>
    <%= f.radio_button :address_choice, "new_address" %>
    <%= f.label :address_choice, "新しいお届け先", :value => "new_address" %>

    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code %>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit '確認画面へ進む', class: 'btn btn-primary' %>
<% end %>

