<table>
  <!--↓画像サイズの指定を:fillにすると表示されなかったので、size:型にしてます↓-->
  <tr><th><%= attachment_image_tag @item, :image, format: 'jpeg', size: "200x200" %></th><td></td></tr>
  <tr><td><%= @item.name %></td></tr>
  <tr><td><%= @item.introduction %></td></tr>
  <!--↓(商品価格+商品価格÷10)という計算、商品価格×1.1とすると、小数点以下が表示された↓-->
  <tr><td>￥<%= @item.price+@item.price / 10 %>(税込)</td></tr>
</table>

<%= link_to "カートに入れる", item_path, class: 'btn btn-primary' %>